
@{
    ViewData["Title"] = "Alex";
}

<h1>Hola Mi nombre es Alex</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Edad</th>
        </tr>
        <tr>
            <th>Alex</th>
            <th>Medrano</th>
            <th>17/04/2001</th>
            <th>18</th>
        </tr>
    </thead>
</table>

